@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-light.ttf);
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-italic.ttf);
  font-style: italic;
}

body {
  font-family: open-sans;
  margin: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.site_title {
  margin-bottom: 2vh;
  font-weight: bold;
}

.site_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site_content .item {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.site_content .item a {
  display: block;
  width: 25vw;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  text-transform: lowercase;
}
