@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-light.ttf);
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/open-sans-italic.ttf);
  font-style: italic;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: open-sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  color: rgb(192, 192, 192);
}

h2 {
  margin: 0;
  color: rgb(127, 127, 127);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 1vh;
  padding: 1vh;
  background: rgb(236, 236, 236);
  text-align: center;
}

a {
  color: rgb(127, 127, 127);
  text-decoration: none;
}
