@font-face {
  font-family: open-sans;
  src: url(../../fonts/open-sans-light.ttf);
}

@font-face {
  font-family: open-sans;
  src: url(../../fonts/open-sans-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: open-sans;
  src: url(../../fonts/open-sans-italic.ttf);
  font-style: italic;
}

body {
  font-family: open-sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  color: rgb(64, 64, 64);
}

.guide {
  animation-duration: 2s;
  animation-name: fade-in;
}

.guide, #disqus_thread {
  font-size: 17px;
}

@media screen and (orientation: landscape) {
  .guide, #disqus_thread {
    width: 600px;
    max-width: 50vw;
  }
}

@media screen and (orientation: portrait) {
  .guide, #disqus_thread {
    width: 85vw;
  }
}

p {
  text-align: justify;
}

code {
  background: rgba(244, 244, 244, 0.75);
  color: rgb(64, 64, 64);
  padding: 4px;
}

pre {
  padding: 10px;
  background: rgb(250, 250, 250);
  color: rgb(64, 64, 64);
  max-width: 100%;
  overflow: auto;
}

pre > code {
  background: none;
  padding: 0;
}

a {
  color: rgb(0, 150, 136);
  text-decoration: none;
}

#disqus_thread {
  margin-top: 50px;
}
